
.background    { background: rgb(117, 117, 117);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: black;   }

.floater {background:greenyellow}

.game {
  position: relative;
}
